
.product .btn {  display: block;  margin: 12px;  padding: 12px 10px;  text-align: center;  background: #ddd;  color: #333;  text-decoration: none;  border-radius: 4px;  transition: 0.3s;  line-height: 1;  font-weight: 600;    float: right;padding: 15px;}
.product .btn:hover{ background: #333;  color: #fff;}
.product .btn-red{  background: #D6363C;  color: #fff;}
.product .btn .fa-chevron-right {  font-size: 10px;  width: 20px;  padding: 4px 0px;  border: 1px solid #fff;  border-radius: 50%;  margin-left: 5px;}
.product .badge {    max-width: 180px!important;    position: relative;    margin-left: -45px!important;    margin-top: -45px;    padding: 10px 12px;    color: #fff;    border: 2px solid #1B4ABE;    line-height: 1;    font-size: 17px;    font-weight: 800;    background: #1B4ABE;}
.product .badge:after {  content: "";  position: absolute; bottom: -12px;  left: -2px;  border-top: 10px solid #002a91;  border-left: 13px solid transparent;  z-index: 9;}
.product { margin-bottom: 25px!important;  border: 8px solid #3C78F0;  box-shadow: 0px 0px 5px #3C78F0;font-family: 'Open Sans', sans-serif;     padding-top: 0;}
.product .thumb, .product .details {      padding: 25px;     max-width: 100% !important;}
.product .details .title {  color: #D6363C;  text-decoration: underline;font-weight: 800;}
.product .details .subtitle {  margin: 15px 0px 25px;}
.product .bookmark {  position: absolute;  top: 20px;  right: 30px;  font-size: 18px;  color: #000;  cursor: pointer;  transition: 0.3s;}
.product .bookmark:hover {  color: #d6363c;}
.product .details .btn {  margin-left: 0;  margin-right: 0;}
.product .details p {  margin-bottom: 25px;}
.wp-block-column.details {margin-left: 0 !important;padding-left: 15px !important;}
.wp-block-column.thumb {padding-right: 15px;}
.product .thumb {    padding-bottom: 15px !important;}
.product .thumb img {display: block;margin-left: auto;margin-right: auto;max-width: 200px;}
.product .affpilot-pro-advantage, .product .affpilot-product-box-pons {max-width: 100%!important;margin-left: 0!important;margin-right: 0!important; padding-top:15px !important; padding-bottom:15px !important}
.site-main .wp-block-group__inner-container {padding: 0;}
.product {padding-bottom: 45px;}
.product h4, .product h2 {margin-left: 0 !important;}
@media all and (max-width:669px){
   .product  .thumb, .details {padding-left: 15px !important;padding-right: 15px !important;}
    .product {margin-bottom:50px!important;    padding: 0 15px 15px;}
    .product   .details {padding-bottom: 45px !important; }
}
